{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <!-- Share form -->
    <h2>Get involved:</h2>
    <p>If you know any cookbooks with amazing recipes for children, we would love to hear from you.</p>
    <p>Fill out the information below and then check out what others have shared!!</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>

    <!-- Shared Books Section -->
    <h2 class="mt-5">Shared Books</h2>
    <div class="row">
        {% for book in shared_books %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if book.image %}
                        <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text"><b>Written by:</b> {{ book.author }}</p>
                        <p class="card-text"><b>Shared by:</b> {{ book.shared_by.username }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No shared books available yet. Be the first to share a book!</p>
        {% endfor %}
    </div>
  </div>
{% endblock %}
